fastapi==0.115.4
uvicorn==0.32.0
pymongo==4.9.2
beanie==1.27.0
motor==3.6.0
pydantic==2.9.2
pydantic[email]==2.9.2
# python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.17
PyJWT==2.10.0
pillow==11.0.0 # 画像処理
minio==7.2.11 # いらないかも？
boto3== 1.35.65 # S3操作
python-dotenv